.container {
    max-width: $website-width;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
}

%btn-share {
    display: inline-block;
    padding: 1.5rem 3rem;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease;
}

.btn {
    &-main {
        @extend %btn-share;
        background-color: $main-color;
        color: $light-color;
    }

    &-light {
        @extend %btn-share;
        background-color: $light-color;
        color: $dark-color;
    }

    &-dark {
        @extend %btn-share;
        background-color: $dark-color;
        color: $light-color;
    }
}

button[class^="btn-"]:hover,
input[class^="btn-"]:hover,
a[class^="btn-"]:hover {
    background-color: $main-color;
}

.lead {
    font-size: 2rem;
    margin: 1rem 0;
}

.text-center {
    text-align: center;
}


$spaces: (1, 2, 3, 4, 5);

@each $space in $spaces {

    // Margins
    .m-#{$space} {
        margin: #{$space}rem;
    }

    .my-#{$space} {
        margin: #{$space}rem 0;
    }

    .mx-#{$space} {
        margin: 0 #{$space}rem;
    }

    // Paddings
    .p-#{$space} {
        padding: #{$space}rem;
    }

    .py-#{$space} {
        padding: #{$space}rem 0;
    }

    .px-#{$space} {
        padding: 0 #{$space}rem;
    }
}

.bottom-line {
    height: 3px;
    width: 7rem;
    background-color: $main-color;
    margin: 3px auto 0 auto;
}

.section-title {
    font-size: 3rem;
    font-weight: 200;
}

.l-heading {
    font-size: 4rem;
    margin: 1rem 0;
    font-weight: 500;
}

.m-heading {
    font-size: 3.5rem;
    margin: 1rem 0;
    font-weight: 500;
}

.s-heading {
    font-size: 2rem;
    margin: 1rem 0;
    font-weight: 500;
}